{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="d-flex flex-row mb-3 text-bg-dark bg-gradient">
  <img src="{% static 'blog/images/error.png' %}" class="mx-0 my-auto" style="width: 75px; height: 75px;" alt="...">
  <div class="mx-auto my-auto"><br/>
    <h4 class="card-title text-center text-danger">Страница не найдена</h4>
  </div>
</div>



<div class="card text-bg-dark">
  <h1 class="text-center">Не найдено на сайте</h1>
  <img src="{% static 'blog/images/yoda.png' %}" alt="" class="mx-auto pt-3" style="width: 300px;">
  <h1 class="text-center">страницы такой</h1>
</div>

{% endblock content %}