{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="d-flex flex-row mb-3 text-bg-dark bg-gradient">
  <img src="{% static 'blog/images/register.png' %}" class="mx-0 my-auto" style="width: 75px; height: 75px;" alt="...">
  <div class="mx-auto my-auto"><br/>
    <h4 class="card-title text-center text-warning">Регистрация</h4>
  </div>
</div>


{% if form.non_field_errors %}
    <div class="alert alert-warning bg-dark text-warning border-danger" role="alert">{{ form.non_field_errors }}</div>
{% endif %}

<div class="container-sm mb-3 mt-3 py-3 g-col-1 bg-gradient border border-info" style="max-width: 30rem;">
    <form action="{% url 'register' %}" method="post" >
        {% csrf_token %}
        {% for f in form %}
            <div class="m-2">
              <label class="form-label">{{ f.label }}</label>
                {% for m in f.errors %}
                    <div class="alert alert-danger bg-dark text-warning border-danger" role="alert">
                        {{ m }}
                    </div>
                {% endfor %}
              {{ f }}
            </div>
        {% endfor %}
        <div class="d-grid m-2">
            <button type="submit" class="btn btn-primary mx-auto">Регистрация</button>
        </div>
    </form>
</div>



{% endblock content %}